<div class="container-fluid" style="height: 5000px">

    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center">
                <h4 class="display-4">
                    Welcome to {{ title }}!
                </h4>
            </div>
        </div>
    </div>

    <h4 class="display-4 text-center text-primary">Basic</h4>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <bmz-datatable-bs4 [id]="'example-1'"></bmz-datatable-bs4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="display-4 text-center text-primary">Fixed Header</h4>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <bmz-datatable-bs4 [id]="'example-2'" [fixHeader]="true"></bmz-datatable-bs4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="display-4 text-center text-primary">Un searching</h4>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <bmz-datatable-bs4 [id]="'example-3'" [searching]="false"></bmz-datatable-bs4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
