/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/variables";

html {
    font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 0.8rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 0.8rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 0.8rem;
    }
}
